html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.book-product-card {
    border: solid black 1px;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    transition: box-shadow ease-in-out 0.3s;
}

.book-product-card:hover{
    box-shadow: 2px 2px 5px black;
}

.partial-container {
    flex: 1;
    margin-right: 20px;
}

.form-container {
    flex: 0 0 auto;
}